* {
    margin: 0;
    padding: 0;
    border: 0;
}


img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

b {
    font-size: inherit;
}

a {
    text-decoration: none;
}

body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-family: 'Montserrat';
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

/****************************/


.logo {
    margin: 0 auto;
    margin-top: 100px;
    width: 90%;
    img {
        width: 100%;
    }
}

.login, .email, .password, .password-repeat {
    &.invalid input {
        border-bottom: 1px solid red;
    }
}

small {
    display: flex;
    justify-content: center;
    margin-top: 4px;
    color: rgb(158, 0, 0);
}