@import 'reset';
@import 'unit';
@import 'popup-add-current-bank';

.main {
    &__item {
        justify-content: center;
        background-color: white;
        // color: white;]
        transition: all 0.2s;

        &:hover {
            cursor: pointer;
            background-color: #c3ddff;
            color: #0d4188;
        }
    }
}

.main-month {
    position: relative;

    &__right, &__left {
        position: absolute;
        display: block;
        content: "";
        border: 14px solid transparent; 
        transition: all 0.2s;

        &:hover {
            cursor: pointer;
        }

        &.hide {
            display: none;
        }
    }

    &__right {
        right: 0px;
        border-left: 20px solid #5382c4;
    }

    &__left {
        left: 0px;
        border-right: 20px solid #5382c4;
    }
}