@import 'reset';
@import 'unit';

.main {
    padding: 20px;
}

#color-text {
    margin-top: 15px;
}

.button__submit {
    display: block;
    width: 180px;
    height: 40px;
    font-size: 15px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #5382c4;
    color: white;
}

select {
    cursor: pointer;
}

.button__submit {
    &:hover {
        cursor: pointer;
    }
}